.hero {
    background: url('../../assets/hero-bg.png') no-repeat center center/cover;
    max-width: 1240px;
    min-height: 223px;
    border-radius: 25px;
    overflow: hidden;
}

.shadow {
    background-color: #0000004f;
    min-height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: #FFF;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}