footer {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0em;
    left: 0;
    height: 209px;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
    flex-direction: column;
}